// text
$font-family: Helvetica;

// colors
$background-color: rgb(0, 0, 0);
$primary-text: #fff;
$secondary-text: rgb(158, 158, 158);
$third-text: rgb(74, 74, 74);
$accend-color: #39BF00;
$endblock: rgb(28, 28, 28);
$navbar-color: rgba(0, 0, 0, 0.404);

* {
    margin: 0;
    padding: 0;
    object-fit: cover;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $background-color;
    font-family: $font-family;
}

/* navbar */
.navbar {
    position: center;
    color: $primary-text;
    padding: 0 20px;
    height: 50px;
    background-color: $navbar-color;
    backdrop-filter: blur(8px) brightness(75%) saturate(70%);

       ul a:hover {
            padding: 6px 15px;
            border-radius: 20px;
            background-color: $primary-text;
            color: $background-color;
        }
}

.menu {
    float: right;
    line-height: 50px;
    a {
        color: $primary-text;
        text-decoration: none;
        padding: 0 10px;
        font-size: 24px;
    }
}

/* box */

.wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: $navbar-color;
    backdrop-filter: blur(8px) brightness(75%) saturate(70%);
}

.box {
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    max-width: 85%;
    background: $background-color;
    z-index: -8;
    border-radius: 8px;
    box-shadow: 0 2px 20px $third-text;
    padding: 40px;
}

/* blog */

.heading {
    font-size: 30px;
    max-width: 90%;
}

.margin {
    padding-bottom: 25px;
}

.blog {
    margin: 30px;
}

.blog-date {
    color: $secondary-text;
    font-size: 21px;
    padding-top: 20px;
}

.blog-body {
    font-size: 24px;
    padding-top: 5px;
}

.scroll {
    max-width: 90%;
    height: 20vh;
    padding-top: 2.5cm;
    padding-bottom: 2.5cm;
    justify-content: space-around;
    flex-flow: row;
    align-items: center;
}

.bottom-space {
    max-width: 90%;
    height: 40vh;
    padding-top: 2.5cm;
    padding-bottom: 2.5cm;
    justify-content: space-around;
    flex-flow: row;
    align-items: center;
}

.scroll-full {
    max-width: 100%;
    height: 100vh;
    padding-top: 10cm;
    justify-content: space-around;
    flex-flow: row;
    align-items: center;
}

/* messages */

.alert-success {
    margin-top: 20px;
    padding: 20px;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    max-width: 90%;
    border-radius: 10px;
    background-color: #bbe6bb;
    color: $background-color;
    margin-bottom: 15px;
}

.alert-danger {
    margin-top: 20px;
    padding: 20px;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    max-width: 90%;
    border-radius: 10px;
    background-color: #bb7d78;
    color: $background-color;
    margin-bottom: 15px;
}

.message {
    animation: buttons .3s linear;
}

.message .success {
    animation: buttons .3s linear;
    display: none;
}

.message .danger {
    transition: .3s;
    animation: buttons .3s linear;
    display: none;
}

@keyframes buttons {
    0% {
        transform: scale(0.1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

.closebtn {
    margin-left: 15px;
    color: $primary-text;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: $background-color;
}

/* contact form */

.contact-input input {
    font-family: $font-family;
    font-size: 16px;
    width: 60%;
    height: 50px;
    padding-left: 12px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-style: none;
    outline: none;
    border-radius: 8px;
    background-color: $primary-text;

    :focus-within {
        box-shadow: 0.2rem 0.8rem 1.6rem $background-color;
    }
}

input {
    border-style: none;
    outline: none;
    color: $background-color;
}

textarea {
    font-family: $font-family;
    font-size: 16px;
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-style: none;
    outline: none;
    border-radius: 4px;
    background-color: $primary-text;
    resize: none;
}

.btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid $primary-text;
    border-radius: 0.6em;
    color: $primary-text;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: $font-family;
    font-weight: 700;
  
    &:hover {
      color: $background-color;
      outline: 0;
    }
}

.first {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    &:hover {
      box-shadow: 0 0 40px 40px $primary-text inset;
    }
}

/* general */

.object {
    margin: 20px;
    align-items: center baseline;
    justify-content: center;

    label {
        padding-bottom: 0.9cm;
    }
}

.object-algin {
    display: flex;
    flex-wrap: wrap;

}

img {
    width: 1.8cm;
    height: 1.8cm;
}

.text {
    color: $primary-text;
}

.text-2 {
    color: $secondary-text;
}

/* differend index part pages */
section {
    max-width: 100%;
    height: 100vh;
    perspective: 10px;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    color: $primary-text;
    padding-top: 5cm;
}

.container {
    height: 100vh;
}

.endblock-part {
    height: 25vh;
    background-color: $endblock;
}

.endblock-part a label {
    font-family: $font-family;
    color: $background-color;
    text-decoration: none;
    outline: none;
    border: none;
}

/* Redline */
.redline {
    content: "";
    display: block;
    position: absolute;
    top: 50vh;
    bottom: 50vh;
    left: calc(25vw - 2rem);
    z-index: 99;
    width: 1px;
    opacity: .3;
    background: var(--purple) linear-gradient(180deg,var(--bg),rgba(var(--bg-rgb),0) 20vh);
}


/*# sourceMappingURL=styles.css.map */

/*# sourceMappingURL=styles.scss.map */
