* {
  margin: 0;
  padding: 0;
  object-fit: cover;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: Helvetica;
}

/* navbar */
.navbar {
  position: center;
  color: #fff;
  padding: 0 20px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.404);
  backdrop-filter: blur(8px) brightness(75%) saturate(70%);
}
.navbar ul a:hover {
  padding: 6px 15px;
  border-radius: 20px;
  background-color: #fff;
  color: rgb(0, 0, 0);
}

.menu {
  float: right;
  line-height: 50px;
}
.menu a {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
  font-size: 24px;
}

/* box */
.wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.404);
  backdrop-filter: blur(8px) brightness(75%) saturate(70%);
}

.box {
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  max-width: 85%;
  background: rgb(0, 0, 0);
  z-index: -8;
  border-radius: 8px;
  box-shadow: 0 2px 20px rgb(74, 74, 74);
  padding: 40px;
}

/* blog */
.heading {
  font-size: 30px;
  max-width: 90%;
}

.margin {
  padding-bottom: 25px;
}

.blog {
  margin: 30px;
}

.blog-date {
  color: rgb(158, 158, 158);
  font-size: 21px;
  padding-top: 20px;
}

.blog-body {
  font-size: 24px;
  padding-top: 5px;
}

.scroll {
  max-width: 90%;
  height: 20vh;
  padding-top: 2.5cm;
  padding-bottom: 2.5cm;
  justify-content: space-around;
  flex-flow: row;
  align-items: center;
}

.bottom-space {
  max-width: 90%;
  height: 40vh;
  padding-top: 2.5cm;
  padding-bottom: 2.5cm;
  justify-content: space-around;
  flex-flow: row;
  align-items: center;
}

.scroll-full {
  max-width: 100%;
  height: 100vh;
  padding-top: 10cm;
  justify-content: space-around;
  flex-flow: row;
  align-items: center;
}

/* messages */
.alert-success {
  margin-top: 20px;
  padding: 20px;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  max-width: 90%;
  border-radius: 10px;
  background-color: #bbe6bb;
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
}

.alert-danger {
  margin-top: 20px;
  padding: 20px;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  max-width: 90%;
  border-radius: 10px;
  background-color: #bb7d78;
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
}

.message {
  animation: buttons 0.3s linear;
}

.message .success {
  animation: buttons 0.3s linear;
  display: none;
}

.message .danger {
  transition: 0.3s;
  animation: buttons 0.3s linear;
  display: none;
}

@keyframes buttons {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.closebtn {
  margin-left: 15px;
  color: #fff;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: rgb(0, 0, 0);
}

/* contact form */
.contact-input input {
  font-family: Helvetica;
  font-size: 16px;
  width: 60%;
  height: 50px;
  padding-left: 12px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-style: none;
  outline: none;
  border-radius: 8px;
  background-color: #fff;
}

input {
  border-style: none;
  outline: none;
  color: rgb(0, 0, 0);
}

textarea {
  font-family: Helvetica;
  font-size: 16px;
  width: 100%;
  height: 200px;
  padding: 12px 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-style: none;
  outline: none;
  border-radius: 4px;
  background-color: #fff;
  resize: none;
}

.buttons {
  margin-top: 50px;
  text-align: center;
  border-radius: 30px;
}

.blob-btn {
  z-index: 1;
  position: relative;
  padding: 20px 46px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(74, 74, 74);
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}

.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}

.blob-btn:hover {
  color: rgb(0, 0, 0);
  border-radius: 30px;
}

.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}

.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #ffffff;
}

.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}

.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #39BF00;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}

@supports (filter: url("#goo")) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}

.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}

.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}

.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}

.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}

@supports (filter: url("#goo")) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
  }
}
/* general */
img {
  width: 1.8cm;
  height: 1.8cm;
}

.text {
  color: #fff;
}

.text-2 {
  color: rgb(158, 158, 158);
}

/* differend index part pages */
section {
  font-family: Helvetica;
  max-width: 100%;
  height: 100vh;
  perspective: 10px;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  color: #fff;
}

.container {
  height: 100vh;
}

/* intro-part */
.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.intro-top {
  background-image: url("/static/media/intro-top-wave.svg");
}

/* about-part */
.list {
  font-size: 24px;
  padding-bottom: 10px;
}

.object-align {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* club-part */
/* projects-part */
/* endblock-part */
.endblock-part {
  height: 25vh;
  background-color: rgb(28, 28, 28);
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 114px;
}

.wave .shape-fill {
  fill: #000000;
}

a[href="https://www.linkedin.com/in/tobias-karuth-37158923b/"],
a[href="https://github.com/TKAMING"] {
  font-family: Helvetica;
  color: rgb(0, 0, 0);
  text-decoration: none;
  outline: none;
  border: none;
  padding-right: 15px;
  padding-left: 15px;
}

a[href="imprint/"] {
  font-family: Helvetica;
  color: rgb(0, 0, 0);
  text-decoration: none;
  outline: none;
  border: none;
}

/*# sourceMappingURL=styles.css.map */

/*# sourceMappingURL=styles.css.map */
