@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: Helvetica;
}

section {
  max-width: 100%;
  height: 20vh;
  padding-top: 10cm;
  justify-content: space-around;
  flex-flow: row;
  align-items: center;
}

input {
  border-style: none;
  background: transparent;
  outline: none;
}

.wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.404);
  backdrop-filter: blur(8px) brightness(75%) saturate(70%);
}

.navbar {
  position: center;
  color: #fff;
  padding: 0 20px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.404);
  backdrop-filter: blur(8px) brightness(75%) saturate(70%);
}

.text {
  color: #fff;
}

.box {
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  max-width: 90%;
  background: rgb(74, 74, 74);
  z-index: -2;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgb(74, 74, 74);
  padding: 40px;
  filter: blur(px);
}

.menu {
  float: right;
  line-height: 50px;
}
.menu a {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
  font-size: 24px;
}

.blog-heading {
  font-size: 30px;
  max-width: 90%;
}

.blog {
  margin: 30px;
}

.blog-date {
  color: rgb(158, 158, 158);
  font-size: 21px;
  padding-top: 20px;
}

.blog-body {
  font-size: 24px;
  padding-top: 5px;
}

.heading {
  padding-bottom: 40px;
  font-size: 50px;
  max-width: 90%;
}

.alert-success {
  margin-top: 20px;
  padding: 20px;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  max-width: 90%;
  border-radius: 10px;
  background-color: #bbe6bb;
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
}

.alert-danger {
  margin-top: 20px;
  padding: 20px;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  max-width: 90%;
  border-radius: 10px;
  background-color: #bb7d78;
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
}

.message {
  animation: buttons 0.3s linear;
}

.message .success {
  animation: buttons 0.3s linear;
  display: none;
}

.message .danger {
  transition: 0.3s;
  animation: buttons 0.3s linear;
  display: none;
}

@keyframes buttons {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.closebtn {
  margin-left: 15px;
  color: #fff;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: rgb(0, 0, 0);
}

.contact-input {
  font-family: Helvetica;
  font-size: 16px;
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  border-radius: 4px;
  padding: 1.4rem 2rem 1.6rem;
  background: rgb(154, 154, 154);
  box-shadow: 0 2px 6px rgb(154, 154, 154);
}
.contact-input:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  height: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-position: 0% 0%;
  background: linear-gradient(to right, #ffffff, #949494, #4f4f4f, #000000, #4f4f4f, #949494);
  background-size: 500% auto;
  animation: gradient 3s linear infinite;
}

.contact-input input {
  flex-grow: 1;
  color: #000000;
  font-size: 1.8rem;
  line-height: 2.4rem;
  vertical-align: middle;
}
.contact-input input::-webkit-input-placeholder {
  color: #474747;
}

textarea {
  font-family: Helvetica;
  font-size: 16px;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-style: none;
  outline: none;
  border-radius: 4px;
  background-color: rgb(154, 154, 154);
  box-shadow: 0 2px 6px rgb(154, 154, 154);
  resize: none;
}

/*# sourceMappingURL=styles.css.map */
