{% extends "base.html" %}
{% load static %}

{% block title %}
    Imprint
{% endblock %}

{% block nav %}

    <a href="/#about" class="nav-item">About</a>
    <a href="/blog/" class="nav-item">Blog</a>
    <a href="/contact/" class="nav-item">Contact</a>

{% endblock %}

{% block main %}

    <center>
        <div class="container">
            <section class="intro-part heading">
                <h1 data-aos="fade-in" class="text margin" style="padding-top: 3cm">Imprint</h1>

                <h2 data-aos="fade-in"  class="text margin">According to 5 TMG</h2>
                <p data-aos="fade-in"  class="text-2">Tobias Karuth<br />
                Schopenhauerstr.7<br />
                51147 Germany, Cologne</p>

                <h2 data-aos="fade-in" class="text margin" style="padding-top: 1cm">Contact</h2>
                <p data-aos="fade-in" class="text-2">Telephone: 015238585144<br />
                E-mail: tobiaskaruth@gmail.com</p>

                <h2 data-aos="fade-in" class="text margin" style="padding-top: 1cm">Editorial responsibility</h2>
                <p data-aos="fade-in" class="text-2">Tobias Karuth</p>
                
                <p class="text-2">© 2022 by Tobias Karuth</p>

            </section>
        </div>
    </center>

{% endblock %}

{% block javascript %}

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    
{% endblock %}
