* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.404);
    backdrop-filter: blur(8px) brightness(75%) saturate(70%);
}

.navbar {
    position: center;
    color: #fff;
    padding: 0 20px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.404);
    backdrop-filter: blur(8px) brightness(75%) saturate(70%);
}

.logo {
    margin-left: 25px;
    float: left;
}

.logo a{
    color: #fff;
    text-decoration: none;
    font-size: 28px;
    background-color: rgba(0, 0, 0, 0.404);
    backdrop-filter: blur(8px) brightness(75%) saturate(70%);
}

.menu {
    float: right;
    line-height: 50px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    font-size: 24px;
}

.section {
    padding-top: 10cm;
    max-width: 100%;
    color: #fff;
}