<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Primary Meta Tags -->
    <meta name="title" content="Tobias Karuth: About">
    <meta name="description" content="A portfolio for Tobias Karuth.
    Hi, I am a Software engineer.
    Interested in Cyber security, Quantum computing and Data analysis.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://tobiaskaruth.pythonanywhere.com/">
    <meta property="og:title" content="Tobias Karuth: About">
    <meta property="og:description" content="A portfolio for Tobias Karuth.
    Hi, I am a Software engineer.
    Interested in Cyber security, Quantum computing and Data analysis.">
    <meta property="og:image" content="https://tobiaskaruth.pythonanywhere.com/static/media/TobiasKaruth.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://tobiaskaruth.pythonanywhere.com/">
    <meta property="twitter:title" content="Tobias Karuth: About">
    <meta property="twitter:description" content="A portfolio for Tobias Karuth.
    Hi, I am a Software engineer.
    Interested in Cyber security, Quantum computing and Data analysis.">
    <meta property="twitter:image" content="https://tobiaskaruth.pythonanywhere.com/static/media/TobiasKaruth.png">
    <link href="/static/media/blob1.svg" rel="icon">
    <link href="/static/css/styles.css" rel="stylesheet">

    <title>Tobias Karuth: {% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        
                    {% block nav %}{% endblock %}

    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    {% block javascript %}{% endblock %}

</body>
</html>