<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="" rel="icon">
    <link href="/static/styles.css" rel="stylesheet">
    <!-- AOS scroll animation -->
    <link rel="stylesheet" href="bower_components/aos/dist/aos.css" />

    <title>Tobias Karuth: {% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="navbar">

                <ul class="menu">
                    {% block nav %}{% endblock %}
                </ul>

            </div>
        </div>
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    {% block javascript %}{% endblock %}

</body>
</html>