{% extends "base.html" %}
{% load static %}

{% block title %}
    About
{% endblock %}

{% block nav %}

    <a href="/" class="nav-item">About</a>
    <a href="blog/" class="nav-item">Blog</a>
    <a href="contact/" class="nav-item">Contact</a>
    <a href="#projects" class="nav-item">Projects</a>

{% endblock %}

{% block main %}
    <center>
        <div class="heading">
            <h1 data-aos="fade-in" class="text">Hi I am Tobias Karuth</h1>
            <h1 data-aos="fade-in" class="text-2 margin">A software engineer</h1>
        </div>
    </center>
    <video src=""></video>

    <section class="text">
        <!-- ----------------------- About me ----------------------- -->
        <center>
            <h2 data-aos="fade-in"class="margin">My interestes are: </h2>
            <ul data-aos="fade-in">
                <li>- Quanten computing</li>
                <li>- Cyber Security</li>
                <li class="margin">- Data analysis</li>
            </ul>
            <h2 data-aos="fade-in" class="text-2">I can these </h2> <h2 data-aos="fade-in" class="text margin">programming languages</h2>
            <div class="object-align">
                <div data-aos="fade-in" class="object text">
                    <img name="python" src="/static/media/python_logo.png">
                    <label for="python" class="text">Python</label>
                </div>
                <div data-aos="fade-in" class="object text">
                    <img name="c" src="/static/media/c_logo.png">
                    <label for="c" class="text">C</label>
                </div>
                <div data-aos="fade-in" class="object text-2">
                    <img name="javascript" src="/static/media/javascript_logo.png">
                    <label for="javascript">Java Script</label>
                </div>
                <div data-aos="fade-in" class="object text-2">
                    <img name="html" src="/static/media/html_logo.png">
                    <label for="html">HTML </label>
                </div>
                <div data-aos="fade-in" class="object text-2">
                    <img name="css" src="/static/media/css_logo.png">
                    <label for="css">And CSS (SASS)</label>
                </div>
            </div>
        </center>
        <!-- ----------------------- IT-Club ----------------------- -->
        <center>
            <div data-aos="fade-in" class="">
                <p>Hi this is text gor an text asdlk fjas dlk aöslkdj fas  aölksd jfas f öasd</p>
            </div>
        </center>
        <!-- ----------------------- Projects ----------------------- -->
        <!-- ----------------------- endblock (imprint) ----------------------- -->
    </section>

{% endblock %}

{% block javascript %}

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    
{% endblock %}
